body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(58, 164, 180);
  background: linear-gradient(165deg, rgba(58, 164, 180, 1) 23%, rgba(65, 253, 29, 0.9877291981245623) 58%, rgba(252, 205, 69, 1) 88%)
}

.container {
  /* border: px solid black; */
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  background: rgb(174, 0, 255);
  background: radial-gradient(circle, rgba(230, 174, 66, 1) 0%, rgba(148, 187, 233, 1) 80%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

input {
  background-color: #f3f1af;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 7px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #3c881b;
  color: #fff;
}

/* button:active {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-left: none;
} */

button:active {
  transform: scale(0.97);
}

button:hover {
  background-color: #1a6b2b;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#restartButton {
  margin-top: 20px;
  background-color: #007bff;
}

#restartButton:hover {
  background-color: #0056b3;
}

#trialsLeft,
#highestScore {
  margin-top: 10px;
  font-size: 16px;
}

#trialsLeft span,
#highestScore span {
  font-weight: bold;
}

.guess-number {
  font-weight: 550;
}

#restartButton {
  display: block;
  margin: 0 auto;
}